@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');

body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #3a36e0, #9607bf);
    background-size: 400% 400%;
    animation: gradientAnimation 10s ease infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.phone {
    position: relative;
    width: 400px;
    height: 850px;
    background-color: #000;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.phone-inner {
    position: relative;
    padding: 20px;
}

/* Foto de perfil */

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 4px solid;
    border-color: #333333;
    background-image: url("./src/img/profile-image.jpg");
    background-size: cover;
    transition: transform 0.3s ease;
}

.profile-image:hover {
    transform: scale(1.1);
}

/* Redes Sociais */

h1 {
    text-align: center;
    color: #fff;
    font-size: 24px;
}

.links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 20px;
}

.link-item {
    margin: 10px;
}

.link-item a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 50%;
    text-decoration: none;
    color: #333333;
    transition: background-color 0.3s ease;
}

.link-item a:hover {
    background-color: #dcdcdc;
}

.link-item i {
    font-size: 24px;
}

/* Lista de Projetos */

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
  
.project-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin: 20px;
    margin-right: 60px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  
.project-image {
    width: 250px;
    height: 90px;
    border-radius: 5px;
    object-fit: cover;
    margin-bottom: 0px;
}
  
.project-title {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 15px;
}
  
.project-description {
    font-size: 14px;
    text-align: center;
}

.project-item:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}